<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HLP.GeraXml.WebServiceHomologacao.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HLP.GeraXml.WebServiceHomologacao.Properties.Settings>
            <setting name="HLP_GeraXml_WebServiceHomologacao_MDFe_Homologacao_Recepcao_MDFeRecepcao" serializeAs="String">
                <value>https://mdfe-hml.sefaz.rs.gov.br/ws/MDFerecepcao/MDFeRecepcao.asmx</value>
            </setting>
            <setting name="HLP_GeraXml_WebServiceHomologacao_MDFe_Homologacao_RetRecepcao_MDFeRetRecepcao" serializeAs="String">
                <value>https://mdfe-hml.sefaz.rs.gov.br/ws/MDFeRetRecepcao/MDFeRetRecepcao.asmx</value>
            </setting>
            <setting name="HLP_GeraXml_WebServiceHomologacao_MDFe_Homologacao_RecepcaoEvento_MDFeRecepcaoEvento" serializeAs="String">
                <value>https://mdfe-hml.sefaz.rs.gov.br/ws/MDFeRecepcaoEvento/MDFeRecepcaoEvento.asmx</value>
            </setting>
            <setting name="HLP_GeraXml_WebServiceHomologacao_MDFe_Homologacao_Consulta_MDFeConsulta" serializeAs="String">
                <value>https://mdfe-hml.sefaz.rs.gov.br/ws/MDFeConsulta/MDFeConsulta.asmx</value>
            </setting>
            <setting name="HLP_GeraXml_WebServiceHomologacao_MDFe_Homologacao_StatusServico_MDFeStatusServico" serializeAs="String">
                <value>https://mdfe-hml.sefaz.rs.gov.br/ws/MDFeStatusServico/MDFeStatusServico.asmx</value>
            </setting>
        </HLP.GeraXml.WebServiceHomologacao.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
